<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Ingreso Tienda Virtual</h1>
    <form action="{{url_for('create_user')}}" method="post">
        <h2>Enter the register code</h2>
        <div>
            <input type="text" name="email" placeholder="Enter your email">           
        </div>
        <div>
            <input type="password" name="password" placeholder="Enter your password">           
        </div>
        <div>
            <button>Submit</button>
        </div>      
    </form>

    
</body>
</html>